/* ToggleButton.module.css */
.toggleButton {
    user-select: none;
    position: relative;
    overflow: hidden;
}

.toggleButton:active:not(:disabled) {
    transform: scale(0.98);
}

.toggleButton:disabled {
    pointer-events: none;
}

/* Animation for the ripple effect */
.toggleButton::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 0.8s;
}

.toggleButton:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

/* Group styling */
.toggleButtonGroup {
    display: inline - flex;
}

.toggleButtonGroup.toggleButton:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.toggleButtonGroup.toggleButton:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.toggleButtonGroup.toggleButton:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.toggleButtonGroup.vertical {
    flex-direction: column;
}

.toggleButtonGroup.vertical.toggleButton:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.toggleButtonGroup.vertical.toggleButton:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.toggleButtonGroup.vertical.toggleButton:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}