/* Skeleton.module.css */
.skeletonPulse {
    animation: pulse 1.5s ease-in-out 0.5s infinite;
    background: linear-gradient(90deg,
            rgba(229, 231, 235, 1) 0%,
            rgba(243, 244, 246, 1) 50%,
            rgba(229, 231, 235, 1) 100%);
    background-size: 200% 100%;
}

@keyframes pulse {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -200% 0%;
    }
}