/* Backdrop.module.css */
.backdrop {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.noScroll {
    overflow: hidden;
    padding-right: var(--scrollbar-width, 0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.backdrop {
    animation: fadeIn 0.2s ease-in-out;
}